.card-component {
    background-color: var(--color-card-backgroud, --color-white);
    border-radius: .8rem;
    box-shadow: var(--shadow-card);
    height: 100%;
    width: 100%;
    border: none;
}