.nav-component {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nav-card-component {
    display: flex;
}

.nav-banner-container {
    height: 100%;
    display: inline-flex;
    align-items: center;
    margin-left: 2rem;
}

.nav-search-box-container {
    display: inline-flex;
    height: 100%;
    align-items: center;
    margin-left: 3.75rem;
    width: 34rem;
}

.nav-user-info-container {
    display: inline-flex;
    margin-right: 2rem;
    margin-left: auto;
}